* {
  font-size: 1.1em;
  background-color: black;
}


.lyrics {
  padding-left: 15px;
  padding-right: 15px;
}

.lprev {
  color: rgb(220.0, 150.0, 0.0);
}

.wprev {
  color: rgb(220.0, 150.0, 0.0);
}


.cover {
  padding: 10px;
}
.lnext {
  color: rgb(130, 100, 130);
}

.wnext {
  color: rgb(130, 100, 130);
}

.wcurr {
  color: rgb(255.0, 255.0, 0.0);
}
